body {
    background-color: black;
}

h2 {
    text-align: center;
    color: yellow;
}

th {
    color: wheat;
}

.search {
    text-align: center;
    color: wheat;
}
.user-header {
    position: absolute;
    right: 10px;
    top: 10px;
}

.user-header div {
    color: wheat;
}

.products-table {
    width: 80%;
    position: relative;
    float: left;
}

.product-details {
    width: 20%;
    position: relative;
    float: right;
    top: 100px;
    left: 50px;
    color: wheat;
}

.product-details tr, .edit-product tr {
    color: wheat;
}

.edit-product div {
    text-align: center;
    color: wheat;
}

.credentials, .edit-product {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
}

.credentials .error {
    text-align: center;
    color: red;
    font-style: italic;
    font-size: medium;
}

.credentials .login-button {
    text-align: center;
}

.credentials .page-link {
    color: violet;
    text-align: center;
}
